<table cellpadding="0" cellspacing="0" border="0">
  <tr>
	<th><a href="<{$xoops_url}>/modules/onair/index.php?show=day&oa_day=0"><{$lang_sundayname}></a></th>
    <th><a href="<{$xoops_url}>/modules/onair/index.php?show=day&oa_day=1"><{$lang_mondayname}></a></th>
    <th><a href="<{$xoops_url}>/modules/onair/index.php?show=day&oa_day=2"><{$lang_tuedayname}></a></th>
    <th><a href="<{$xoops_url}>/modules/onair/index.php?show=day&oa_day=3"><{$lang_weddayname}></a></th>
    <th><a href="<{$xoops_url}>/modules/onair/index.php?show=day&oa_day=4"><{$lang_thudayname}></a></th>
    <th><a href="<{$xoops_url}>/modules/onair/index.php?show=day&oa_day=5"><{$lang_fridayname}></a></th>
    <th><a href="<{$xoops_url}>/modules/onair/index.php?show=day&oa_day=6"><{$lang_satdayname}></a></th>
  </tr>
</table>
  <table cellspacing="1">

  <{section name=i loop=$posts}>
  <tr class='odd'>
  <{if $posts[i].oa_day2 !=""}>
  <td colspan="4"><h2><{$posts[i].oa_day2}></h2></td></tr>
  <{/if}>
  <td colspan="4"><h2><{$posts[i].oa_day}></h2></td></tr>
    <tr class='header'>
  <td nowrap="nowrap" valign="top" align="left" style="padding-left:5px"><h3><{$lang_startstop}></h3></td>
  <td nowrap="nowrap" valign="top" align="left" style="padding-left:5px"><h3><{$lang_djimage}></h3></td>
<td nowrap="nowrap" valign="top" align="left" style="padding-left:5px"><h3><{$lang_titlename}></h3></td>
<td nowrap="nowrap" valign="top" align="left" style="padding-left:5px"><h3><{$lang_namename}></h3></td>
</tr>
  <tr style="background: url(<{$xoops_url}>/modules/onair/images/<{$posts[i].bgc}>);">
    <td style="padding-left:5px"><{$posts[i].oa_start}><br><{$posts[i].oa_stop}></td>
    <td style="padding-left:5px"><a href="<{$xoops_url}>/modules/onair/detail.php?ext=info&oa_id=<{$posts[i].oa_id}>"><{$posts[i].oa_image}></a></td>
    <td style="padding-left:5px"><a href="<{$xoops_url}>/modules/onair/detail.php?ext=info&oa_id=<{$posts[i].oa_id}>"><{$posts[i].oa_title}></a></td>
    <td style="padding-left:5px"><a href="<{$xoops_url}>/modules/onair/index.php?show=name&oa_name=<{$posts[i].oa_name}>"><{$posts[i].oa_name}></a></td>
  </tr>
  <{/section}>
</table>
