<{foreach item=messagenext from=$block.onair2}>
<center><{$messagenext.comup}></center><br/>
<center><{$messagenext.station}></center>
<center><code><b><{$messagenext.title}></b></code></center>
<center><a href="<{$xoops_url}>/modules/onair/detail.php?ext=info&oa_id=<{$messagenext.id}>"><{$messagenext.image}></a></center><br/>
<center><h4><{$messagenext.host}><{$messagenext.name}></h4></center><br>
<center><{$messagenext.day}></center>
<center><h4><{$messagenext.start}> - <{$messagenext.stop}></h4></center>
<{/foreach}>