<{foreach item=message from=$block.onair}>
<center><b><{$message.station}></b></center><br/>
<center><code><b><{$message.title}></b></code></center><br/>
<center><a href="<{$xoops_url}>/modules/onair/detail.php?ext=info&oa_id=<{$message.id}>"><{$message.image}></a></center>

<center><h4><{$message.host}><{$message.name}></h4></center><br/>
<center><img src="<{$xoops_url}>/modules/onair/images/icons/musicnote.png"> <{$message.pluginshow}></center><br/>
<center><{$message.day}></center>
<center><h4><{$message.start}> - <{$message.stop}></h4></center>
<{/foreach}>